In [1]:
print("Twinle, twinkle, little star,")
print("\t How I wonder what you are!")
print("\t\t Up above the world so high")
print("\t \t Like a diamond in the sky")
print("Twinkle, twinkle, little star,")
print("\t How I wonder what you are,")

Twinle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high
	 	 Like a diamond in the sky
Twinkle, twinkle, little star,
	 How I wonder what you are,

In [2]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

In [3]:
#Write a Python program to display the current date and time.
#Sample Output : 
#Current date and time : 
#2014-07-05 14:34:14

In [ ]:
print(f"Current date and time:\n 2019-07-26 8:45" )

Current date and time:
 2019-07-26 8:45

In [ ]:
#4. Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
radius = float(input("enter the radius of a circle: "))
A = 3.14*radius**2
print(A)

In [ ]:
 #Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [ ]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print(f"hello {last_name} {first_name}")

In [ ]:
import datetime
now = datetime.datetime.now()
print("current date and time: ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

In [ ]:
import datetime
n = datetime.datetime.now()
print("Current date and time: ")
print(n.strftime("%Y-%m-%d %H:%M:%S"))

In [ ]:
import time
now = datetime.datetime.now()
print("Current date and time: ")
print(noe.strftime("%Y-%m-%d %H:%M:%S"))

In [ ]:
#Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.
#Sample data : 3, 5, 7, 23
#Output : 
#List : ['3', ' 5', ' 7', ' 23'] 
#Tuple : ('3', ' 5', ' 7', ' 23')

In [14]:
x = input("Enter a sequence of numbers with comma: ")

list1 = x.split(",")
y = tuple(list1)
print(list1)
print(y)

Enter a sequence of numbers with comma: 4,5,6,7,8,9
['4', '5', '6', '7', '8', '9']
('4', '5', '6', '7', '8', '9')

In [5]:
k1 = (1,2,3,4)
x = list(k1)
print(x)

[1, 2, 3, 4]

In [6]:
k2 = [1,2,3,4]
x = tuple(k2)
print(x)

(1, 2, 3, 4)

In [26]:
alph = input("enter any alphabets with commas: ")

l1 = alph.split("," , 3)
t1 = tuple(l1)

print(l1)
print(t1)

enter any alphabets with commas: w,e,r
['w', 'e', 'r']
('w', 'e', 'r')

In [20]:
alph = input("enter any alphabets with commas: ")

l1 = list(alph)
t1 = tuple(l1)

print(l1)
print(t1)

enter any alphabets with commas: syeda kulsoom mukarraam ali kazmi
['s', 'y', 'e', 'd', 'a', ' ', 'k', 'u', 'l', 's', 'o', 'o', 'm', ' ', 'm', 'u', 'k', 'a', 'r', 'r', 'a', 'a', 'm', ' ', 'a', 'l', 'i', ' ', 'k', 'a', 'z', 'm', 'i']
('s', 'y', 'e', 'd', 'a', ' ', 'k', 'u', 'l', 's', 'o', 'o', 'm', ' ', 'm', 'u', 'k', 'a', 'r', 'r', 'a', 'a', 'm', ' ', 'a', 'l', 'i', ' ', 'k', 'a', 'z', 'm', 'i')

In [21]:
len(l1)

33

In [22]:
#Python str.rsplit(sep=None, maxsplit=-1) function:

#The function returns a list of the words of a given string using a separator as the delimiter string.

#If maxsplit is given, the list will have at most maxsplit+1 elements.
#If maxsplit is not specified or -1, then there is no limit on the number of splits.
#If sep is given, consecutive delimiters are not grouped together and are deemed to delimit empty strings.
#The sep argument may consist of multiple characters.
#Splitting an empty string with a specified separator returns [''].

In [ ]:
#Write a Python program to display the first and last colors from the following list.
#color_list = ["Red","Green","White" ,"Black"]

In [27]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [30]:
color_list = ["Red", "Green", "White", "Black"]
print(color_list[0],color_list[-1])

Red Black

In [32]:
color_list = ["Red", "Green", "White", "Black"]
print(color_list[0],color_list[3])

Red Black

In [1]:
#1: Accept two int values from the user and return their product. If the product is greater than 1000, then return their sum

In [3]:
num1 = int(input("Enter a first number: "))
num2 = int(input("Enter a second number: "))

if num1 <= 1000 and num2 <= 1000:
    print(num1 * num2)
elif num1 >= 1000 and num2 >= 1000:
    print(num1 + num2)                            #not correct
else:
    print("not recognized")

Enter a first number: 1100
Enter a second number: 1200
2300

In [20]:
def multiplication_sum(num1,num2):
    product = num1 * num2
    if product < 1000:
        return(product)
    else:
        return num1 + num2             #correct

result = multiplication_sum(4,6)
print(result)

24

In [22]:
multiplication_sum(3,5)

15

In [24]:
name = input("enter your name: ")
salary = input("enter your salary: ")
company = input("enter your company: ")
print("Employ details: ")
print("name" ,  "salary" , "company")
print(name ,  salary ,  company)

enter your name: kulsoom
enter your salary: 100000
enter your company: google
Employ details:
name salary company
kulsoom 100000 google

In [ ]:
#input in list

In [3]:
string_input = input("Enter numbers separated by space: ")
list1 = string_input.split()
sum1 = 0
for i in list1:
    sum1 += int(i)
print(sum1)

Enter numbers separated by space: 1 2 3 4
10

In [1]:
family_members = input("Enter your family members name: ")
list1 = family_members.split(",")
for i in list1:
    print(i)

Enter your family members name: ammi,baba,arshamh,kulsoom,taha,hashir
ammi
baba
arshamh
kulsoom
taha
hashir

In [2]:
name = input("Enter your name: ")
marks = int(input("Enter your marks: "))

print("student: Name: {} Marks: {}%" .format(name,marks))

Enter your name: kulsoom
Enter your marks: 75
student: Name: kulsoom Marks: 75%

In [1]:
a = input("Enter a text: ")

print('{:<25}'.format(a))
print("{:>25}".format(a))
print("{:^25}".format(a))

Enter a text: lets check an alignment
lets check an alignment
  lets check an alignment
 lets check an alignment

In [2]:
for i in range(1,10):
    print("{:^25}".format(i))    #for centre

            1
            2
            3
            4
            5
            6
            7
            8
            9

In [3]:
for i in range(1,22):
    print("{:<25}".format(i))   #less than(right)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [6]:
a = "kulsoom"
for i in a:
    print("{:>25}".format(i))    #greater than(left)

                        k
                        u
                        l
                        s
                        o
                        o
                        m

In [8]:
num = input("enter a number separated by space: ")
list1 = num.split()
product = 1

for i in list1:
    product *= int(i)
print(product)

enter a number: 1 2 3 4 5
120

In [14]:
positive_number = float(input("enter a number: "))
negative_number = float(input("enter another number: "))

print("{:+f}; {:+f}".format(positive_number, negative_number))
print('{:f}; {:-f}'.format(positive_number, negative_number))

enter a number: 67.78
enter another number: -67.99
+67.780000; -67.990000
67.780000; -67.990000

In [19]:
num1 = float(input("enter a number: "))
num2 = float(input("enter another number: "))
print("{:+f} {:+f}".format(num1,num2))  # sign "+" is for both positive and negative number
print("{:f} {:-f}".format(num1,num2))   # sign "-" is  only for negative number

enter a number: 67.89
enter another number: -98.654
+67.890000 -98.654000
67.890000 -98.654000

In [21]:
number = int(input("enter a number: "))
# "d" for integer
print("{:d}".format(number))
# "o" for octal number
print('{:o}'.format(number))
# "x" for hexadecimal
print("{:x}".format(number))
# "b" for binary
print("{:b}".format(number))

enter a number: 356
356
544
164
101100100

In [1]:
number = int(input("enter a number: "))
# convert in float
print("{:f}".format(number))
# exponent (shows how many numbers after decimal)
print("{:e}".format(number))
# exponent in uppercase
print("{:E}".format(number))
# padding for float numbers
print("{:.4f}".format(number))

enter a number: 789
789.000000
7.890000e+02
7.890000E+02
789.0000

In [7]:
text = input("enter string: ")

print(text.ljust(10,"*"))

print(text.rjust(10,">"))

print(text.center(10,"-"))

enter string: hello
hello*****
>>>>>hello
--hello---

In [3]:
number = int(input("entera number: "))

print(number.ljust(5,"*"))       # only for string

entera number: 67

AttributeError: 'int' object has no attribute 'ljust'

In [10]:
text = input("enter some string: ")

print("{:>50}".format(text))
print("{:^50}".format(text))
print("{:<50}".format(text))    # 50(how much distance we want)

enter some string: kulsoom
                                           kulsoom
                     kulsoom
kulsoom

In [11]:
number = input("enter  numbers separated with comma: ")

list1 = number.split(",")
x = tuple(list1)
print(list1)
print(x)

enter  numbers separated with comma: 1,2,3,4,5,5
['1', '2', '3', '4', '5', '5']
('1', '2', '3', '4', '5', '5')

In [12]:
#Write a Python program to sum all the items in a list

In [1]:
numbers = input("enter  numbers separated by commas: ")
list = numbers.split(",")
sum = 0
for i in list:
    sum += int(i)
    
print(sum)

enter  numbers separated by commas: 1,2,34,5
42

In [2]:

 #Write a Python program to multiples all the items in a list

In [4]:
numbers = input("enter number for multiplication: ")
list = numbers.split()
product = 1

for i in list:
    product *= int(i)
print(product)

enter number for multiplication: 1 2 3 4 5
120

In [5]:
#Write a Python program to get the largest number from a list.

In [ ]:
numbers = input("enter numbers: ")

list = numbers.split()

# range

In [3]:
for i in range(11):
    print(i,end = " ")

0 1 2 3 4 5 6 7 8 9 10

In [5]:
for i in range(10,31,2):
    print(i,end=" ")

10 12 14 16 18 20 22 24 26 28 30

In [14]:
for i in range(1,11,1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [15]:
start = 1
stop = 5
step =1 
stop += step
for i in range(start,stop,step):
    print(i,end=" ")

1 2 3 4 5

In [16]:
start = 1
stop = 10
step = 2
stop += step
for i in range(start,stop,step):
    print(i,end=" ")

1 3 5 7 9 11

In [17]:
# decrementing with range() using a negative step

In [19]:
for i in range(-2,-10,-1):
    print(i,end = " ")

-2 -3 -4 -5 -6 -7 -8 -9

In [21]:
for i in range(-2,-11,-2):
    print(i,end = " ")

-2 -4 -6 -8 -10

In [22]:
#decrementing with range from  negative to positive number

In [23]:
for i in range(-3,10,1):
    print(i,end = " ")

-3 -2 -1 0 1 2 3 4 5 6 7 8 9

In [24]:
#python range from positive to negative numbers.

In [29]:
for i in range(5,-6,-1):
    print(i,end =" ")

5 4 3 2 1 0 -1 -2 -3 -4 -5

In [30]:
#converting range() to list

In [35]:
even_list = list (range(2,11,2))
print(even_list)

TypeError: 'list' object is not callable

In [65]:
print("Converting python range() to list")
even_list = list(( range(1,10,2)))
print(even_list)

Converting python range() to list
[1, 3, 5, 7, 9]

In [48]:
#reverse range in python

In [53]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [63]:
even = list((range(0,12,2)))
print(even)

[0, 2, 4, 6, 8, 10]

In [59]:
for i in range("a","z"):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [60]:
#Given a range of numbers. Iterate from o^th number to the end number and print the sum of the current number and previous number

In [69]:
for i in range(0,21,2):
    print(i + i,end = " ")

0 4 8 12 16 20 24 28 32 36 40

In [70]:
#Given a list of ints, return True if first and last number of a list is same

In [1]:
1%0

ZeroDivisionError: integer division or modulo by zero

In [2]:
print(0)

0

In [5]:
x = 1
y = 2
z = x
x = y
y = z
print(x,y)

2 1

In [8]:
x = int(input("enter a number: "))
y = int(input("enter a number: "))
x= x/y
y = y/x
print(y)

enter a number: 2
enter a number: 4
8.0

In [3]:
x = int(input("number: "))
y = int(input("number: "))
z = x%y
print(z)

number: 11
number: 4
3